.editor-statusbar {
    display: flex;
}

.editor-statusbar .upload-image {
    margin-left: auto;
}

.editor-statusbar .content-error {
    color: #dc3545;
    margin-left: 0;
}

button.close {
    outline: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
