<!DOCTYPE html>

<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org" th:fragment="form">

<head>
    <th:block th:insert="common-head :: meta"></th:block>

    <th:block th:insert="common-head :: link"></th:block>
    <link rel="stylesheet" th:href="@{/webjars/easymde/easymde.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/autoComplete/autoComplete.min.css}">
    <link rel="stylesheet" th:href="@{/css/articles/article-form.css}">

    <th:block th:insert="common-head :: script"></th:block>
    <script th:src="@{/webjars/easymde/easymde.min.js}"></script>
    <script th:src="@{/webjars/autoComplete/autoComplete.min.js}"></script>
    <script th:inline="javascript">
        const GET_ALL_TAGS_URL = /*[[@{/tags/all}]]*/ "";
        const UPLOAD_IMAGE_URL = /*[[@{/articles/upload-image}]]*/ "";
        const RENDER_MARKDOWN_URL = /*[[@{/articles/render-markdown}]]*/ "";
        const EXIST_TAGS = /*[[${articleDTO.tags}]]*/ [];

        const EASY_MDE_LOADING_TEXT = /*[[#{easy-mde.preview-loading}]]*/ "";
        const EASY_MDE_SB_INIT_TEXT = /*[[#{easy-mde.image-texts.sb-init}]]*/ "";
        const EASY_MDE_SB_ON_DRAG_ENTER_TEXT = /*[[#{easy-mde.image-texts.sb-on-drag-enter}]]*/ "";
        const EASY_MDE_SB_ON_DROP_TEXT = /*[[#{easy-mde.image-texts.sb-on-drop}]]*/ "";
        const EASY_MDE_SB_PROGRESS_TEXT = /*[[#{easy-mde.image-texts.sb-progress}]]*/ "";
        const EASY_MDE_SB_ON_UPLOADED_TEXT = /*[[#{easy-mde.image-texts.sb-on-uploaded}]]*/ "";
    </script>
    <script th:src="@{/js/articles/article-form.js}"></script>

    <title th:text="${title}"></title>
</head>

<body>
    <div th:replace="navbar"></div>

    <div class="container-fluid pb-3">
        <div class="row">
            <div class="offset-md-2 col-md-8 offset-1 col-10">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" th:object="${articleDTO}">
                            <div class="md-form">
                                <input class="form-control" type="text" disabled th:value="*{author}">
                                <input type="hidden" th:field="*{author}" th:errorclass="is-invalid">
                                <label for="author" th:text="#{article-form.author}"></label>
                                <div class="invalid-feedback" th:errors="*{author}"></div>
                            </div>

                            <div class="md-form">
                                <input class="form-control font-weight-bold" type="text" autocomplete="off" th:field="*{title}"
                                    th:errorclass="is-invalid">
                                <label for="title" th:text="#{article-form.title}"></label>
                                <div class="invalid-feedback" th:errors="*{title}"></div>
                            </div>

                            <div class="md-form input-group">
                                <input id="tags" class="form-control p-0" type="text" autocomplete="off"
                                    onkeypress="preventFormSubmit(event)">
                                <label for="tags" th:text="#{article-form.tag}"></label>
                                <div class="input-group-append">
                                    <button class="btn btn-md btn-primary m-0 px-3" type="button"
                                        onclick="addTagButtonOnClick()" th:text="#{article-form.add-tag}"></button>
                                </div>
                            </div>

                            <div id="tagContainer"></div>

                            <textarea th:field="*{content}" th:errorclass="is-invalid"></textarea>
                            <span id="contentError" class="d-none" th:errors="*{content}"></span>
                            <button class="btn btn-success btn-md waves-effect" type="submit"
                                th:text="#{article-form.post-article}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>