<!DOCTYPE html>

<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="common-head :: meta"></th:block>

        <th:block th:insert="common-head :: link"></th:block>
        <link rel="stylesheet" th:href="@{/css/articles/article.css}">

        <th:block th:insert="common-head :: script"></th:block>
        <script th:src="@{/js/articles/article.js}"></script>

        <title th:text="${article.title}"></title>
    </head>

    <body>
        <div th:replace="navbar"></div>

        <div class="container-fluid pb-3">
            <div class="row" th:object="${article}">
                <div class="offset-md-2 col-md-8 offset-1 col-10">
                    <div class="card">
                        <div class="card-body p-5">
                            <h1 class="card-title font-weight-bold text-capitalize" th:text="*{title}"></h1>
                            <h5 class="text-muted" style="text-overflow: ellipsis; overflow: hidden;">
                                <span class="article-metadata" th:text="|#{article.author}：*{author}|"></span>
                                <span class="article-metadata"
                                    th:text="|#{article.create-date}：*{#temporals.format(createDate, 'yyyy/MM/dd')}|"></span>
                                <span class="article-metadata"
                                    th:if="not *{createDate.toLocalDate().equals(updateDate.toLocalDate())}"
                                    th:text="|#{article.update-date}：*{#temporals.format(updateDate, 'yyyy/MM/dd')}|"></span>
                            </h5>
                            <div class="chip mt-2 mb-0" th:each="tag : *{tags}" th:text="${tag}"></div>
                            <hr class="mb-4">
                            <p class="article-text" th:utext="*{content}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
                <a class="btn-floating btn-lg red" th:href="@{/articles/edit/{articleId}(articleId=${article.id})}">
                    <i class="fas fa-pen" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </body>
</html>
