<!DOCTYPE html>

<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="common-head :: meta"></th:block>
        <th:block th:insert="common-head :: link"></th:block>
        <th:block th:insert="common-head :: script"></th:block>

        <title>Article</title>
    </head>

    <body>
        <div th:replace="navbar"></div>

        <div class="container-fluid pb-3">
            <div class="row mb-5" th:object="${article}">
                <div class="offset-md-2 col-md-8 offset-1 col-10">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title" th:text="*{title}"></h3>
                            <hr>
                            <p class="card-text" th:text="*{content}"></p>
                            <div class="d-flex justify-content-end">
                                <a class="h6" th:href="|@{/articles}/*{id}|">
                                    Read more
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
