<!DOCTYPE html>

<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="common-head :: meta"></th:block>

    <th:block th:insert="common-head :: link"></th:block>
    <link rel="stylesheet" th:href="@{/webjars/highlight.js/styles/stackoverflow-light.css}">
    <link rel="stylesheet" th:href="@{/webjars/easymde/easymde.min.css}">
    <link rel="stylesheet" th:href="@{/css/articles/new-article.css}">

    <th:block th:insert="common-head :: script"></th:block>
    <script th:src="@{/webjars/highlight.js/highlight.pack.js}"></script>
    <script th:src="@{/webjars/easymde/easymde.min.js}"></script>
    <script th:inline="javascript">
        const UPLOAD_IMAGE_URL = [[@{/articles/upload - image}]];
    </script>
    <script th:src="@{/js/articles/new-article.js}"></script>

    <title>New</title>
</head>

<body>
    <div th:replace="navbar"></div>

    <div class="container-fluid pb-3">
        <div class="row">
            <div class="offset-md-2 col-md-8 offset-1 col-10">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" th:object="${articleDTO}">
                            <div class="md-form">
                                <input class="form-control" type="text" disabled th:value="*{author}">
                                <input type="hidden" th:field="*{author}" th:errorclass="is-invalid">
                                <label for="author">作者</label>
                                <div class="invalid-feedback" th:errors="*{author}"></div>
                            </div>

                            <div class="md-form">
                                <input class="form-control font-weight-bold" type="text" autocomplete="off" th:field="*{title}"
                                    th:errorclass="is-invalid">
                                <label for="title">標題</label>
                                <div class="invalid-feedback" th:errors="*{title}"></div>
                            </div>

                            <div class="md-form input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-md btn-default m-0 px-3" type="button"
                                        onclick="document.getElementById('coverPictureBinary').click()">選擇封面圖</button>
                                    <input id="coverPictureBinary" class="d-none" type="file" accept="image/*">
                                    <input type="hidden" th:field="*{coverPicture}">
                                </div>

                                <input id="selectedPictureName" class="form-control text-dark" type="text" disabled>

                                <div class="input-group-append">
                                    <button class="close" type="button" onclick="clearSelectedPicture.apply(this)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>

                            <textarea th:field="*{content}" th:errorclass="is-invalid"></textarea>
                            <span id="contentError" class="d-none" th:errors="*{content}"></span>
                            <button class="btn btn-success btn-md waves-effect" type="submit">發布</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
